In [7]:
import pandas as pd

In [8]:
df0_orbia = pd.read_csv('data/orbia_historical_stock_price.csv')

In [9]:
# Here we will create the df1, because we will drop the column 'Adj Close' from the original data

df1_orbia = df0_orbia.drop(labels=['Adj Close'],axis=1)

In [10]:
# In this part we will 
df1_orbia['Close'].describe()

count    6176.000000
mean       29.099886
std        21.278646
min         0.589412
25%         4.237397
50%        36.282141
75%        47.142500
max        73.873169
Name: Close, dtype: float64

In [21]:
df1_orbia[df1_orbia.Date > '2015-04-29'].Close.describe()

count    2264.000000
mean       44.634145
std         7.990577
min        24.450001
25%        38.294999
50%        43.762926
75%        50.572501
max        67.559998
Name: Close, dtype: float64

In [24]:
df1_orbia[-30:]

            Date       Open       High        Low      Close    Volume
6146  2024-03-13  32.250000  32.730000  31.889999  32.500000    780595
6147  2024-03-14  32.779999  33.730000  32.639999  33.310001   1066071
6148  2024-03-15  33.349998  35.299999  33.259998  34.389999  13742719
6149  2024-03-19  34.599998  34.750000  32.840000  32.959999   2009681
6150  2024-03-20  32.820000  34.250000  32.720001  34.150002   1143758
6151  2024-03-21  33.900002  34.590000  33.169998  33.709999   1273706
6152  2024-03-22  33.700001  34.340000  33.580002  33.900002   3069679
6153  2024-03-25  34.189999  34.959999  33.509998  34.709999   6289478
6154  2024-03-26  34.709999  35.020000  33.900002  34.529999   1115333
6155  2024-03-27  34.650002  35.279999  34.389999  34.730000   1082134
6156  2024-04-01  34.720001  35.220001  34.029999  34.950001   2837954
6157  2024-04-02  34.950001  35.259998  34.799999  35.000000   1547370
6158  2024-04-03  34.840000  35.410000  34.689999  35.320000    955264
6159  2024-04-04  35.290001  36.130001  35.220001  36.080002    835684
6160  2024-04-05  36.220001  38.230000  36.110001  38.150002   2767303
6161  2024-04-08  37.930000  38.389999  36.950001  37.889999   2899181
6162  2024-04-09  37.490002  38.540001  37.369999  37.930000   1642680
6163  2024-04-10  37.560001  37.939999  36.360001  36.779999    862875
6164  2024-04-11  36.540001  36.959999  35.919998  36.209999    663753
6165  2024-04-12  36.299999  36.650002  35.669998  36.349998    606174
6166  2024-04-15  36.099998  36.330002  34.500000  34.910000   1474975
6167  2024-04-16  35.000000  35.330002  34.540001  35.020000   1363708
6168  2024-04-17  35.020000  35.090000  33.490002  33.529999   1540152
6169  2024-04-18  33.869999  33.910000  32.759998  33.090000   1766220
6170  2024-04-19  33.209999  33.209999  31.900000  32.490002   1981857
6171  2024-04-22  32.340000  33.009998  32.209999  32.820000    986646
6172  2024-04-23  33.139999  33.220001  31.910000  31.969999   1614497
6173  2024-04-24  32.200001  32.250000  31.209999  31.400000   1117162
6174  2024-04-25  31.350000  32.240002  30.120001  32.150002   1945599
6175  2024-04-26  31.770000  31.770000  29.600000  29.910000   2231453